.flag {
  height: 60px;
  align-self: flex-start;
}
h2 {
    margin: 0;
    color: #3495c1;
}

.covid-info {
  padding: 20px;
}
.country-details {
  display: flex;
  margin-bottom: 25px;
}
.column {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  justify-content: center;
}
.column-second {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-left: 40px;
}
.row {
    padding-bottom: 10px;
}
label {
    font-weight: bold;
    color: #8e8b8b;
}
.info-table .death-cell {
  color: red;
}
.info-table .recovered-cell {
  color: green;
}
